<header *ngIf="statisticService.currentStatistic">
  <div class="d-flex justify-content-space-between">
    <div class="buttons">
      <button
        class="btn"
        *ngFor="let stat of statisticService.statistics"
        [ngClass]="{'btn--gradient': statisticService.currentStatistic.title === stat.title}"
        (click)="statisticService.onChange.emit(stat)"
      >{{stat.title}}</button>
    </div>

    <div class="form d-flex align-items-center" *ngIf="statisticService.currentStatistic.yearSelector">
      <ngx-fa name="calendar" size="lg"></ngx-fa>
      <select id="select">
        <option *ngFor="let year of getYears()">{{year}}</option>
      </select>
    </div>
  </div>

  <div class="d-flex scroll-x">
    <div class="card shadow">
      <div style="width: 100%">
        <app-legend [dataSets]="statisticService.currentStatistic.dataSet"></app-legend>
      </div>
    </div>

    <div class="card card-data shadow" *ngFor="let data of statisticService.currentStatistic.data">
<!--      <h1 class="text-gradient">{{showData(data)[1]}}</h1>-->
<!--      <h2>{{showData(data)[2]}}</h2>-->
      {{data}}
    </div>
  </div>
</header>


